.container_loader{
    width: 100%;
    height: 20rem;
    padding-top: 7%;
    padding-right: 3%;
    .label_message_confirmation{
        text-align: center;
        margin: 0;
        margin-bottom: 5rem
    }
    a{
        text-decoration: none;
        color: #1A6309;
        &:hover{
            border-bottom: 2px solid #1A6309;
        }
    }
}