.container_ajouter_article{
    div{
        div{
            button{
                display: none;
            }
        }
    }

    .editor_ajouter{
        padding: 0;
        .titre_editor{
            font-weight: 600;
            margin: 0;
        }
    }
    form{
        margin: 1rem 3rem 0rem 3rem;

        textarea{
            margin-bottom: 1rem;
            width: 100%;
            height: 7rem;
        }
        .editor_quill{
            height: 30rem;
            margin-bottom: 5%;
            strong{
                font-weight: bold;
            }
        }
        .btn_ajouter_article{
            height: 3rem;
            width: 7rem;
            border: none !important;
            color: #fff;
            font-weight: 600;
            background-color:  #1A6309;
            transition-duration: 0.3s;
            font-family: 'Roboto';
            margin-bottom: 2rem;
        }
        .btn_ajouter_article:hover{
            background-color:  #fff;
            border: solid 2px #1A6309 !important;
            color: #1A6309;
            cursor: pointer;
        }
        
        .btn_ajouter_article:focus{
            outline: none;
        }
    }
    .content_form_article{
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        select{
            width: 100% !important;
            margin-left: 0.8rem;
        }

        .container_file_upload_button{
            width: 100%;
            .file_upload_button {
                display: none;
            }
            label{
                height: 3rem;
                width: 44.5% !important;
                background-color: green;
                position: absolute;
                font-weight: 600;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                z-index: 1 !important;
            }
            p{
                margin-top: 3.8rem !important;
                color: tomato;
                position: absolute;
            }
        }
        div{
            width: 48% !important;
            input{
                width: 100% !important;
            } 
            margin-bottom: 0;    
        }
        textarea{
            width: 48%;
        }
        div{
            select{
                outline: none;
                border: 1px solid #c4c4c4;
                width: 100%;
                height: 3rem;
                font-size: 1em;
                padding-left: 5px;
                margin-left: 0;
                margin-bottom: 0.7rem;
            }
            .error_select_ajouter{
                color: tomato !important;
            }
        }
    }
}