.container_connect_bar_admin{
    display: block;
    z-index: 999 !important;
    .content_connect_bar{
        width: 78%;
        height: 5rem;
        padding: 1% 2.5%;
        position: fixed;
        border-bottom: 1px #c4c4c4 solid;
        background-color: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        h1{
            margin: 0;
            height: 100%;
        }
        .title_connect_bar{
            width: 50%;
            a{
                text-decoration: none;
                color: #000;
                &:hover{
                    color: green;
                }
            }
        }
        .profil_user{
            width: 50%;
            text-align: right;
            padding-right: 2%;
            &:hover{
                cursor: pointer;
            }
            .btn_deconnexion{
                    right: 0;
                    margin-right: 5%;
                    position: absolute;
                    height: 3rem;
                    border: none;
                    font-size: 16px;
                    text-align: center;
                    padding-left: 1rem;;
                    transition-duration: .5s;
                    text-decoration: none;
                    &:hover{
                        color: #000;
                        cursor: pointer;
                    }
                    &:focus{
                        outline: none;
                        cursor: pointer;
                    }
            }
        }
    }
    .cache_connect_bar{
        width: 100%;
        height: 15vh; 
    }
}