.container_layout_admin{
    display: flex;
    width: 100% !important;
    .div_content_child{
        width: 78%;
    }
    .children_layout_admin{

        background-color: #fafaf4;
        padding: 2rem;
    }
}