.card_youtube{
    width: 47%;
    margin-bottom: 1rem;
    transition-duration: 0.5s;
    &:hover{
        cursor: pointer;
    }
    @media only screen and (min-width: 320px) and (max-width: 600px) {
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .contrainer_flex_youtube{
        @media only screen and (min-width: 320px) and (max-width: 600px) {
            justify-content: space-between;
        }
        .image{
            width: 100% !important;
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                width: 100% !important;
            }
            iframe{
                width: 100%;
                @media only screen and (min-width: 486px) and (max-width: 600px) {
                    height: 10rem !important;
                }
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    height: 15rem !important;
                }
            }
        }
        .content_text_realisation{
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                width: 100%;
            }
            p{
                font-weight: 600;
                @media only screen and (min-width: 320px) and (max-width: 600px) {
                   margin: 0;
                }
            }
        }
        @media only screen and (min-width: 320px) and (max-width: 600px) {
            display: block;
        }
    }
    
}