.container_details_message{
    .btn_none{
        display: none;
    }
    .content_child_page{
        padding: 1rem 2rem;
        .content_input_edit_pub{
            display: flex;
            justify-content: space-between;
            div{
                width: 100%;
                input{
                    width: 95% !important;
                }
            }
        }

        .btn_pub_edit{
            margin-top: 1rem;
            height: 3rem;
            width: 7rem;
            border: none !important;
            color: #fff;
            font-weight: 600;
            background-color:  #1A6309;
            transition-duration: 0.3s;
            font-family: 'Roboto';
            text-align: center;
            &:hover{
                background-color:  #fff;
                border: solid 2px #1A6309 !important;
                color: #1A6309;
                cursor: pointer;
            }
            &:focus{
                outline: none;
            }
        }
    }
}