.card_equipe{
    margin-top: 2rem;
    width: 96%;
    height: 28rem;
    margin-bottom: 1rem;
    text-align: center;

    box-shadow: 0 5px 10px rgba( rgb(194, 193, 193), .8 );

    @media only screen and (min-width: 320px) and (max-width: 1024px) {
        width: 100% !important;
        display: block;
        text-align: center;
    }
    &:hover{
        cursor: pointer;
    }
    .nom_equipier{
        margin-top: 0;
        margin-bottom: 0.5rem;
        color: #000 !important;
        font-size: 22px;
        @media only screen and (min-width: 320px) and (max-width: 1024px) {
            padding: 0;
        }
    }
    .image_card_equipe{
        width: 100%;
        @media only screen and (min-width: 320px) and (max-width: 1024px) {
            width: 55% !important;
            margin: 0 auto;
        }
        img{
            @media only screen and (min-width: 320px) and (max-width: 1024px) {
                height: 10.5rem !important;
            }
        }
    }
    .content_card_equipe{
        padding-right: 1rem;
        width: 100%;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width: 100%;
        }
        .description{
            color: #1A6309;
            margin: 0;
        }
        .mindset{
            margin: 0.5rem 0;
            font-size: 14px;
            font-style: italic;
        }
        .reseaux_equipe{
            margin-top: 0.8rem;
            margin-bottom: 0;
            i{
                font-size: 20px;
                margin-right: 1rem;
                color: #6E6E6E;
                transition-duration: 0.5s;
                &:hover{
                    color: #1A6309;
                }
            }
        }
    }
}