.container_card_articles{
    width: 23vw;
    height: 290px;
    transition-duration: 0.5s;
    margin-bottom: 1rem;
    &:hover{
        transform: scale(1.1);
        
    }
    @media only screen and (min-width: 320px) and (max-width: 600px) {
        height: 10%;
        width: 100%;
        justify-content: space-between;
        display: flex;
        margin-bottom: 1rem;    
    }

    // tablette
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        width: 100%;
        display: flex;
        
    }
    
    .image_card_article{
        position: relative;
        width: 100%;
        height: 70%;
        // &::after{
        //     content: '';
        //     position: absolute;
        //     left: 0;
        //     right: 0;
        //     top: 0;
        //     bottom: 2%;
        //     background: linear-gradient(180deg, rgba(0,0,0,0) 0%,rgba(0, 0, 0, 0.438) 100%);
        //     width: 100% !important;
        //     @media only screen and (min-width: 320px) and (max-width: 1024px) {
        //         background: none;
    
        //     }
        // }
        
        @media only screen and (min-width: 320px) and (max-width: 600px) {
            width: 43% !important;
            height: 6.5rem !important;

        }
        // tablette
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width: 50%;
            
        }

        img{
            border-bottom: 3px solid green !important;
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                width: 100% !important;
                height: 6.5rem !important;
    
            }

            // tablette
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                width: 100% !important;
                //height: 10rem;
            }
        }
    }
    &:hover{
        cursor: pointer;
    }
    .content_card_article{
        @media only screen and (min-width: 320px) and (max-width: 600px) {
            width: 55%;
        }

        // tablette
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width: 50%;
        }

        #id_card_article{
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                display: none;
            }
        }
        .label_article_card{
            margin: 0.5rem 0 0.4rem 0;
            font-size: 17px;
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                font-size: 16px !important;
                margin-top: 0 !important;
                margin-bottom: 0.3rem ;
            }

            // tablette
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 25px;
            }
        }
        .date_biodiv{
            color: #c4c4c4;
            font-size: 13px;
            margin: 0.5rem 0 0.5rem 0;
            @media only screen and (min-width: 320px) and (max-width: 600px) {
                margin: 0 !important;
            }
        }
    }
}
