.container_textarea{
    textarea{
        height: 15rem;
        width: 25em;
        border: solid 1px #D8D8D8;
        font-size: 1em;
        padding-left: 5px;
        font-family: 'Roboto';
        &:required:focus {
            border: #9f3a38 1px solid !important;
            background-color: #fff6f6;
            //border-radius: 5px;
            &::placeholder{
                color: #9f3a38;
            }
        }
        &:focus{
            outline: none;
            border: 1px solid rgb(49, 146, 211);
        }   
    } 
    
    
    .error_textarea{
        color: tomato;
    }
}