.card {
	padding: 5px;
}
.card a {
	text-decoration: none;
	color: inherit;
}
.title {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9rem;
	color: #089047;
}
.description,
.breaking_news__description {
	font-size: 0.9rem;
	font-weight: bold;
}
.author {
	color: #a09b9b;
	font-size: small;
	font-weight: 300;
}

.category {
	padding: 20px 50px;
}

.sectionTitle {
	padding: 0 50px;
	display: flex;
	justify-content: space-between;
}
.sectionTitle h5 {
	text-transform: uppercase;
}

.sectionTitle a {
	text-decoration: none;
	color: #089047;
	font-weight: bold;
}

/* SINGLE ARTICLE PAGE STYLES */

.articleContent {
	padding-top: 180px;
	padding-bottom: 50px;
}
 .articleContent h4{
	 font-weight: bold;
 }

 .articleContent h5{
	 font-weight: bold;
	 font-size: 1.75rem;
	padding: 10px 0;
 }

 .divider{
	 border-left: 1px solid #089047;
 }
 .footer h4{
	font-size: 1.25rem;
 }

