.font_bold {
	font-weight: bold;
}
.video {
	background-color: green;
	width: 100%;
	height: 300px;
}

.annonce {
	background-color: green;
	width: 100%;
	height: 100%;
}

.annonceTrend {
	background-color: green;
	width: 100%;
	height: 545px;
}

.mr_auto {
	text-align: right;
}

.margin_lt {
	margin-top: -3px;
	margin-left: 5px;
}
