.container {
	position: fixed;
	width: 100%;
	z-index: 19;
	background-color: #fff;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 7vw;
}

.weather {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.weather_date {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.weather span {
	font-size: smaller;
}

.icons {
	font-weight: bold;
	margin: 0 10px;
}

.colored_icon {
	color: #089047;
}

.menu {
	border: none;
	background-color: white;
	cursor: pointer;
}
.menu_item:hover {
	background-color: #34a468;
}

.divider {
	height: 100%;
	width: 1px;
	background-color: rgb(219, 216, 216);
}

.nav {
	background: #089047;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
	padding: 0 7vw;
	overflow-x: scroll;
}

.nav::-webkit-scrollbar {
	display: none;
}

.link {
	display: inline-block;
	text-decoration: none;
	padding: 15px 20px;
	font-weight: bold;
	font-size: 0.8rem;
	color: white;
	text-transform: uppercase;
	text-align: center;
}
.link:not(:first-child) {
	border-left: 1px solid #34a468;
}

.link:hover,
.link:visited,
.link:active {
	color: #fff;
	background-color: #34a468;
}

.submenu {
	display: none;
	/* visibility: hidden; */
	position: absolute;
	top: 100px;
	left: 0;
	background-color: #fff;
	width: 100vw !important;
	/* transform: translateY(-3000px); */
	transition: 0.5s ease;
	z-index: 1;
	box-shadow: inset 0px 0px 10px 0px rgb(206, 206, 206);
}
.toggle_submenu {
	/* transform: translateY(0px); */
	/* visibility: visible; */
	display: block;
}
.submenu_link_list {
	padding: 0;
	display: inline-block;
	text-decoration: none !important;
	font-weight: 400;
	font-size: 0.8rem;
	color: #000;
	list-style-type: none;
}

.submenu_link:hover {
	display: inline-block !important;
	transform: scale(1.1) !important;
	transition: 0.2s ease;
	color: #089047 !important;
}
.icons a:hover {
	display: inline-block !important;
	transform: scale(1.2) !important;
	transition: 0.2s ease;
	color: #089047 !important;
}
.left_border {
	position: relative;
}
.left_border::after {
	position: absolute;
	content: '';
	top: 15px;
	left: 0px;
	height: 70%;
	width: 0.5px;
	background-color: #000;
}
