.hero {
	padding-top: 200px;
	padding-bottom: 50px;
}
.title {
	font-weight: bold;
}

.topNews h4 {
	font-size: 1.75rem;
	font-weight: bold;
	padding: 10px 0;
}

.topNews span {
	color: #a09b9b;
	font-size: small;
	font-weight: 300;
	padding-bottom: 20px;
}

.breaking_news {
	padding: 5px;
	border-bottom: 1px black dashed;
}

.breaking_news h6 {
	padding-top: 5px;
	text-transform: uppercase;
}

.breaking_news p {
	font-weight: 600;
}
.breaking_news__title {
	font-size: 0.9rem;
	color: #089047;
}

.opportunities {
	padding-top: 10px;
	background-color: #f4f2f2;
}

.opportunities_body {
	padding: 5px;
	border-bottom: 1px black dashed;
}

.opportunities p {
	font-weight: 600;
}

.pub {
	height: 512px;
	background-color: #089047;
}

.newsLetter {
	background-color: #089047;
	color: white;
	text-align: center;
	padding: 50px;
}

.newsLetter h3 {
	padding-bottom: 20px;
	font-weight: 800;
	font-size: 1.75rem;
}

.newsLetter input {
	height: 50px;
	width: 45%;
	padding: 10px;
}

.newsLetter p {
	font-size: medium;
	font-weight: bold;
	padding: 10px;
}

.newsLetter button {
	background: white;
	border: none;
	padding: 10px;
	color: #089047;
	font-weight: bold;
}

.partners {
	text-align: center;
	padding: 50px;
}

.partners h3 {
	text-align: center;
	padding-bottom: 20px;
	font-weight: 800;
	font-size: 1.75rem;
}
