.hero {
	padding-top: 200px;
	padding-bottom: 50px;
}
.title {
	font-weight: bold;
}

.breaking_news {
	padding: 5px;
	border-bottom: 1px black dashed;
}

.breaking_news h6 {
	padding-top: 5px;
	text-transform: uppercase;
}

.breaking_news p {
	font-weight: 600;
}
