.hero {
	padding-top: 200px;
	padding-bottom: 50px;
}
.title {
	font-weight: bold;
}

.topNews h4 {
	font-size: 1.75rem;
	font-weight: bold;
	padding: 10px 0;
}

.topNews span {
	color: #a09b9b;
	font-size: small;
	font-weight: 300;
	padding-bottom: 20px;
}

.breaking_news {
	padding: 5px;
}

.breaking_news__paragraph {
	font-weight: 500;
}
.breaking_news__title {
	color: #089047;
	text-transform: uppercase;
}
.breaking_news__title,
.breaking_news__paragraph,
.opportunities p {
	font-size: 0.9rem;
	margin: 5px;
}

.opportunities {
	padding-top: 10px;
	background-color: #f4f2f2;
}

.opportunities_body {
	padding: 5px;
}
.dashed_border:nth-child(n + 3) {
	border-top: 1px black dashed;
}
.dashed_border_breaking:nth-child(n + 2) {
	border-top: 1px black dashed;
}
.opportunities p {
	font-weight: 500;
}

.pub {
	/* height: 512px; */
	margin: 30px 0;
	/* background-color: #089047; */
}
/* Editor Choice */
.editorChoice {
	border-right: 1px rgb(54, 53, 53) dashed;
	padding: 10px;
}

.editorChoiceContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/* Environews TV */
.environews_tv {
	position: relative;
	background-color: rgba(240, 240, 240, 0.9);
	padding-top: 40px !important;
	padding-bottom: 40px !important;
}
.videoContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.smallVideo {
	padding-bottom: 0 !important;
}
/* .environews_tv::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	background-image: url('../public/assets/tvbg.jpg');
	background-position: center;
	background-size: cover;
} */

.environews_tv p {
	color: rgb(0, 0, 0);
	font-weight: 500;
	font-size: 0.9rem;
}
.title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 1rem;
	color: #089047;
}
.tv_title {
	/* margin: 20px 10px; */
	color: rgb(0, 0, 0);
	font-size: 1.25rem;
}

.video_responsive {
	overflow: hidden;
	padding-bottom: 56.25%;
	position: relative;
	height: 0;
}

.video_responsive iframe {
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}
/*allice caroussel*/

.addFull {
	width: 100% !important;
}

/* ----------------------------- */

.newsLetter {
	position: relative;
	background-color: rgba(8, 144, 71, 0.8);
	color: white;
	padding: 5% 10% 5% 10%;
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.newsLetter::after {
	content: '';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
	background-image: url('../public/newsletter_bg.jpg');
	background-position: center;
	background-size: cover;
}

.newsLetter h3 {
	padding-bottom: 20px;
	font-weight: 800;
	font-size: 1.75rem;
}

.newsLetter p {
	font-size: 1.2rem;
	font-weight: 500;
	padding: 10px;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.newsLetter input {
	border-radius: 0;
	text-align: center;
	border: none;
	outline: none;
}
.newsLetter button {
	background: white;
	border: 2px solid white;

	/* border: none; */
	border-radius: 0;
	padding: 8px 10px;
	color: #089047;
	box-sizing: border-box;
	font-weight: bold;
}
.newsLetter button:hover {
	box-sizing: border-box;
	border: 2px solid white;
	background: none;
	color: white;
}
.partners {
	text-align: center;
	padding: 50px;
}

.partners h3 {
	text-align: center;
	padding-bottom: 20px;
	font-weight: 800;
	font-size: 1.75rem;
}
.videoDescription {
	font-size: 1rem;
}
@media screen and (max-width: 1200px) {
	.title {
		font-size: 0.85rem;
	}
	.videoDescription {
		font-size: 0.85rem !important;
	}
	.video_responsive {
		height: 500px;
	}
}

@media screen and (max-width: 992px) {
	.videoContainer {
		margin-top: 30px !important;
	}
	.video_responsive {
		height: 300px !important;
	}
}
@media screen and (max-width: 960px) {
	.breaking_news__title,
	.breaking_news__paragraph,
	.opportunities p {
		font-size: 0.8rem;
		margin: 5px;
	}
}
@media screen and (max-width: 760px) {
	.newsLetter h3 {
		padding-bottom: 20px;
		font-size: 1.5rem;
	}

	.newsLetter p {
		font-size: 1rem;
		padding: 10px;
		width: 90%;
		margin: 0 auto;
	}
	.newsLetter button {
		font-size: 1rem !important;
		padding: 10px;
	}
	.newsLetter input {
		font-size: 1rem;
		width: 95%;
		margin: 0 auto;
	}
	.newsLetter {
		padding: 7% 3% 7% 3%;
	}
}

@media screen and (max-width: 480px) {
	.breaking_news__title,
	.breaking_news__paragraph,
	.opportunities p {
		font-size: 0.8rem;
		margin: 5px;
	}
}
